:root {
  --prime-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --pressed-state-color: #404bbf;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

/* ==========HEADER========= */
.logo-page {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: var(--primary-brand-color);
}
.text-logo {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact {
  font-style: normal;
}

.menu-link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.main-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* ==========/HEADER========= */

/* ===========HERO=========== */
.model-button {
  font-family: Roboto, sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.text-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hero {
  background: var(--dark-color);
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
/* ===========/HERO=========== */

/* ===========FEATURE==========*/
.title-feature {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: var(--dark-color);
}
.sub-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* ===========/FEATURE==========*/

/*==========SECTION ABOUT ======*/
.title-about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
}
/*==========/SECTION ABOUT ======*/

/* ============TEAM============= */
.sub-text-h3 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  flex: none;
  order: 2;
  flex-grow: 0;
}
/* ============/TEAM============= */

/*==============FOOTER============*/
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.footer {
  background: var(--dark-color);
}
.text-logo-footer {
  color: var(--light-color);
}
/*==============/FOOTER============*/

/* +++++++++++++++++++++++++++PORTFOLIO++++++++++++++++++++++++ */
.model-button-filter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  background: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}

.progect-card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.model-button-filter:hover,
.model-button-filter:focus {
  color: #ffffff;
  background: var(--primary-brand-color);
  cursor: pointer;
}
.model-button:hover,
.model-button:focus {
  background: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.sub-text-progect {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}
.main-contact:hover,
.main-contact:focus {
  color: var(--pressed-state-color);
}
